.header {
  position: fixed;
  width: 100%;
  height: 110px;
  z-index: 1000
}

.span {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 95px;    
  width: 20px;
  height: 20px;
  font-size: 0.5em;
  padding: 6px;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  background-color: orangered;
}

.visible {
  top: 0; 
}

.hidden {
  top: -200px; 
}

.hamburger_container {
  position: relative;
  display: flex;
}

.logo {
  position: absolute;
  z-index: 2;
  top: 45px;
  left: -5px
}

.logoBasket {
  position: relative;
  bottom: 55px;
  right: 10px;
}

.inputContainer {
  height: 48px;
  width: 95%;
  margin: 0 auto;
  border-radius: 24px;
  border: none;
  background-color: #f3f3f3;
  padding-left: 30px;
  position: relative;
  display: flex;
  top: 22px;
}

.input {
  position: relative;
  height: 47px;
  width: 95%;
  font-family: Roboto, Helvetica,Arial,sans-serif;
  margin: 0 auto;
  border-radius: 24px;
  border: none;
  background-color: #f3f3f3;
  padding-left: 0px;
  padding-right: 30px; 
  outline: none;
  letter-spacing: 1%;
  font-family: "Bebas Neue", sans-serif;
}

.input::placeholder {
  letter-spacing: 1%;
  font-family: "Bebas Neue", sans-serif;
}

.input:focus {
  border-color: none 
}

.input:focus + img {
  border-color: none; 
}

.title {
  position: relative;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.delivery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-family: Roboto, Helvetica,Arial,sans-serif;
  font-size: var(--13px);
  letter-spacing: -.03em;
  font-weight: 700;
  line-height: var(--18px);
  background-color: #f3f3f3;
  width: 100%;
  height: 38px;
  text-align: center;
}

.deliveryContent {
  display: flex;
  justify-content: center;
}

.deliveryImg {
  margin-right: 4px;
}

.deliveryTxt {
  padding-top: 3px;
  font-size: 0.8em;
  font-weight: bold;
}
 
.imgBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
}
  
.imgIcon {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  pointer-events: none; 
}

.hamburger {
  top: 55px;
  right: 20px;
  width: 22px;
  height: 20px;
  z-index: 30;
  border: none;
  display: flex;
  opacity: 0.7;
  position: absolute;
  flex-direction: column;
  background-color: transparent;
  justify-content: space-between;
}
  
.open {
  height: 19px;
}
   
.line {
  width: 100%;
  height: 2px;
  background-color: #868686;
  transition: transform 0.3s, opacity 0.3s;
}
  
.line:hover{
  background-color: #868686;
}
    
.open .line:nth-child(1) {
  transform: rotate(45deg) translate(7px, 7px);
  background-color: #868686;
}
  
.open .line:nth-child(2) {
  opacity: 0;
  background-color: #868686;
}
    
.open .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  background-color: #868686;
}
  
.open .line, .close .line {
  background-color: #868686;
}
  
.open:hover .line, .close:hover .line {
  cursor: pointer;
  background-color: #868686;
}

.menuBox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999; 
  display: none; 
  width: 100%; 
  height: 100%;
}

.menuBoxOpen {
  display: block;
  overflow-y: auto;
}
    
.menu {  
  display: flex;
  position: fixed;
  flex-direction: column;
  list-style: none;
  padding-top: 158px;
  width: 100%;
  z-index: 20;
  height: 100vh;
  overflow-y: auto;
  transition: .4s ease-in-out;
  background-color: #f3f3f3; 
}

.menu_link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
  width: 95%;
  height: 75px;
  margin: 0 auto 5px auto;
  border-radius: 8px;
  transition: .4s ease-in-out;
  color: rgb(12, 12, 12); 
  background-color: #ffffff;
  font-size: 0.7em;
  font-weight: 600;
  letter-spacing: 0;
  font-family: Roboto,Helvetica,Arial,sans-serif;
}
  
.menu_link:hover {
  color: orangered;
  cursor: pointer;
} 

.menu_basket {
  position: absolute;
  top: 108px;
  right: 60px;
  list-style: none;
}

.link {
  display: flex;
  justify-content: space-between;
}

.linkText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.linkImg1 {
  margin-right: 15px;
}

.linkImg2 {
  margin-right: 10px;
}

.linkImg2 {
  margin-right: 8px;
}