.container {
    margin-top: 150px;
}

.category {
    margin-bottom: 20px;
}

.banner {
    position: relative;
    width: 100%;
    transition: .4s ease-in-out;
    overflow: hidden;
    aspect-ratio: 3/3;
    max-height: 100vh;
}

.description {
    position: absolute;
    bottom: 20px;
    z-index: 2;
    color: white;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    padding: 22px;
    line-height: 1.2em;
    font-family: "Bebas Neue", sans-serif;
}

.h1 {
    position: absolute;
    bottom: 80px;
    padding-left: 22px;
    z-index: 2;
    color: white;
    font-size: 2.5em;
    letter-spacing: 0.1em;
    font-family: "Bebas Neue", sans-serif;
}

.h2 {
    padding: 16px;
    font-family: "Bebas Neue", sans-serif;
}

.p {
    margin-bottom: 4px;
    padding-left: 18px; 
    font-size: 1em;
    font-family: "Bebas Neue", sans-serif;
    color: rgb(153, 153, 153);
}

.link {
    color: orangered;
    font-weight: bold;
    padding-left: 18px;
    font-family: "Bebas Neue", sans-serif;
    transition: .4s ease-in-out;
}

.link:hover {
    text-decoration: underline;
}