.slider {
    max-width: 1000px;
    margin: 30px auto;
}

.card {   
    margin: 0 5px;   
}

.h3 {
    margin-top: 10px;
    padding-left: 8px;
    font-family: "Bebas Neue", sans-serif; 
}

.p  {
    font-size: 0.8em;
    padding-left: 8px;
    transition: .4s ease-in-out;
    margin-bottom: 20px;
    font-family: "Bebas Neue", sans-serif;
}

.p:hover {
    cursor: pointer;
    color: orangered
}

.btn {
    padding: 10px;
    width: 200px;
    letter-spacing: 0.1em;
    border-radius: 22px;
    border: 1px solid black;
    font-family: "Bebas Neue", sans-serif; 
}

.btn:hover {
    cursor: pointer;
}