.slider {
    max-width: 1000px;
    margin: 0 auto;
}

.banner {
    position: relative;
    width: 100%;
    transition: .4s ease-in-out;
    overflow: hidden;
    aspect-ratio: 4/8;
    max-height: 100vh;
}

.info {
    position: absolute;
    font-size: 0.8em;
    font-weight: 600;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    top: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    height: 11%;
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 0);
}




.card {   
    position: relative;
    margin: 0 5px;   
    background-color: rgb(0, 0, 0);
}

.h3 {
    margin-top: 10px;
    padding-left: 8px;
    font-family: "Bebas Neue", sans-serif; 
}

.p  {
    font-size: 0.8em;
    padding-left: 8px;
    transition: .4s ease-in-out;
    margin-bottom: 20px;
    font-family: "Bebas Neue", sans-serif;
}

.p:hover {
    cursor: pointer;
    color: orangered
}
