.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    background-color: rgb(27, 27, 27);
}

.boxContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white; 
    font-size: 1em;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}

.picture {
    margin-right: 20px;
}

.txt {
    padding: 22px;
    font-size: 0.8em;
    text-align: center;
    line-height: 1.5em;
    background-color: #f3f3f3;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}

.h4 {
    padding: 18px;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}

.formContent {
    padding: 22px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input, .textarea {
    border-radius: 22px;
    height: 50px;
    border: 1px solid #dddddd;
    width: 90%;
    margin: 0 auto 15px auto;
    padding-left: 20px;
}

.textarea {
    height: 250px;
}

.textarea {
    padding-top: 20px;
}

.error {
    font-size: 0.6em;
    color: red;
    position: relative;
    bottom: 6px;
    padding-left: 30px;
}

.submit {
    height: 50px;
    width: 220px;
    margin: 0 auto 60px auto;
    display: flex;
    border-radius: 22px;
    border: none;
    color: white;
    background-color: rgb(27, 27, 27);
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 80px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}
