.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.8em;
    padding: 16px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    background-color: rgb(27, 27, 27);
}

.ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.li {
    margin: 30px auto;  
    color: white;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.span {
    text-decoration: underline;
}

.copyright {
    width: 100%;
    text-align: center;
    color: white;
    margin-bottom: 10px;
}

.social {
    display: flex;
    justify-content: center;
}

.picture {
    color: white;
}