.filter {
  position: absolute;
  height: 148px;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: white;;
}

.banner {
  position: relative;
  width: 100%;
  transition: .4s ease-in-out;
  overflow: hidden;
  aspect-ratio: 3/6;
  max-height: 100vh;
}

.banner2 {
  position: relative;
  background-color: rgb(0, 0, 0);
}

.info {
  position: absolute;
  font-size: 0.8em;
  font-weight: 600;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  top: 145px;
  padding-top: 13px;
  display: flex;
  justify-content: center;
  z-index: 2;
  width: 100%;
  height: 40px;
  color: white;
  background-color: orangered;
}

.span {
 margin-left: 5px;
 text-decoration: underline;
}

.btn {
  position: absolute;
  width: 30%;
  height: 40px;
  left: 35%;
  border-radius: 24px;
  bottom: 50px;
  border: none;
  z-index: 2;
  font-weight: bold;
  opacity: 0.9;
  color: orangered;
  transition: .4s ease-in-out;
  background-color: white;
  letter-spacing: 0.1em;
  font-family: "Bebas Neue", sans-serif;
}

.btn:hover {
  cursor: pointer;
  opacity: 1;
  color: white;
  background-color: orangered;
}

@media (min-width: 480px) {
  .banner2 {
    max-height: none;
  }
}